# 导入模块

In [2]:
import sys

sys.executable

'/root/miniconda3/bin/python'

In [3]:
import os
from os import path

In [4]:
import gc

In [5]:
os.listdir()

['1.Trajectory tracking.ipynb',
 'Question recored.md',
 'data_eda.ipynb',
 '.ipynb_checkpoints',
 '1.Trajectory tracking-checkpoint.ipynb',
 '未命名.ipynb']

# 用户轨迹探索

In [ ]:
import pandas as pd

In [10]:
data = pd.read_csv('20190524-001.csv', nrows=1000, encoding='gbk')

In [11]:
data.head()

,imsi_,imei_,update_time_,lac_,cellid_,status_,ap_type_,device_id_,eventid_,area_,msisdn_
0,460110413044304,\t,2019-05-08 20:09:29\t,0,0,拒绝\t,FDD-LTE\t,DX-SZSC001\t,Normal Lau\t,\t,\t
1,460110413042577,\t,2019-05-08 20:09:41\t,0,0,拒绝\t,FDD-LTE\t,DX-SZSC001\t,Normal Lau\t,\t,\t
2,460110425023300,\t,2019-05-08 20:10:14\t,0,0,拒绝\t,FDD-LTE\t,DX-SZSC001\t,Normal Lau\t,\t,\t
3,460110714141865,\t,2019-05-08 20:10:40\t,0,0,拒绝\t,FDD-LTE\t,DX-SZSC001\t,Normal Lau\t,\t,\t
4,460016692088409,\t,2019-05-08 20:08:55\t,0,0,拒绝\t,FDD-LTE\t,LT-SZSC001\t,Normal Lau\t,\t,\t

In [15]:
drop_col = ['imei_', 'area_', 'msisdn_']
data1 = data.drop(drop_col,axis=1)

In [118]:
def get_data(file_name):
    file_extension = path.splitext(file_name)[1]
    if file_extension == '.csv':
        data = pd.read_csv(file_name, encoding='gbk')
    elif file_extension == '.xlsx':
        data = pd.read_excel(file_name, encoding='gbk')
    drop_col = ['imei_', 'area_', 'msisdn_']
    data.drop(drop_col, axis=1, inplace=True)
    col = data.columns
    for each in col:
        if data[each].dtype == object:
            data[each] = data[each].str.replace('\t', '')
    print('data processed successfully')
    return data

In [119]:
os.listdir()

['4月',
 '20190529',
 '20190529-4G电围.xls',
 '.DS_Store',
 '分析数据',
 '3月',
 'data_eda.ipynb',
 'same',
 '.ipynb_checkpoints',
 '20190529-001.csv',
 '20190424-001.xlsx',
 '20190524-001.csv',
 '20190529-4G_resave.csv',
 'test.py',
 '20190422-灵瞳感知器.xls',
 '最新数据',
 '050823数据表']

In [157]:
data1 = get_data('20190524-001.csv')
data2 = get_data('20190529-001.csv')

data processed successfully
data processed successfully

In [158]:
data1.head()

,imsi_,update_time_,lac_,cellid_,status_,ap_type_,device_id_,eventid_
0,460110413044304,2019-05-08 20:09:29,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
1,460110413042577,2019-05-08 20:09:41,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
2,460110425023300,2019-05-08 20:10:14,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
3,460110714141865,2019-05-08 20:10:40,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
4,460016692088409,2019-05-08 20:08:55,0,0,拒绝,FDD-LTE,LT-SZSC001,Normal Lau

In [141]:
def convert_to_time(data):
    for each in data:
#         print(each.columns)
        each.index = pd.to_datetime(each['update_time_'])
#         print(each.colums)
#         each.drop(['update_time_'], axis=1, inplace=True)
    print('successfully')
    return data

In [142]:
data1_, data2_ = convert_to_time([data1, data2])

successfully

In [143]:
data1.head()

,imsi_,update_time_,lac_,cellid_,status_,ap_type_,device_id_,eventid_
update_time_,,,,,,,,
2019-05-08 20:09:29,460110413044304,2019-05-08 20:09:29,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
2019-05-08 20:09:41,460110413042577,2019-05-08 20:09:41,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
2019-05-08 20:10:14,460110425023300,2019-05-08 20:10:14,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
2019-05-08 20:10:40,460110714141865,2019-05-08 20:10:40,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
2019-05-08 20:08:55,460016692088409,2019-05-08 20:08:55,0,0,拒绝,FDD-LTE,LT-SZSC001,Normal Lau

In [144]:
data1.shape

(338898, 8)

In [145]:
data2.shape

(430480, 8)

可以发现，数据1检测的时间有16天。数据2检测的时间有7天

In [147]:
data1_.index.day[-1] - data1_.index.day[0]

16

In [148]:
data2_.index.day[-1] - data2_.index.day[0]

21

In [149]:
# 可以按时间这样切片。但必须是Series，不能是DF
data1_.imsi_['20190508':'20190515']

update_time_
2019-05-08 20:09:29    460110413044304
2019-05-08 20:09:41    460110413042577
2019-05-08 20:10:14    460110425023300
2019-05-08 20:10:40    460110714141865
2019-05-08 20:08:55    460016692088409
                            ...
2019-05-15 23:58:43    460019454206454
2019-05-15 23:59:11    460015232357562
2019-05-15 23:59:21    460008760270567
2019-05-15 23:59:24    460110714141865
2019-05-15 23:59:46    460029420804175
Name: imsi_, Length: 147072, dtype: int64

In [150]:
one_week = data1_.loc['20190508':'20190515', :]

In [151]:
one_week.head()

,imsi_,update_time_,lac_,cellid_,status_,ap_type_,device_id_,eventid_
update_time_,,,,,,,,
2019-05-08 20:09:29,460110413044304,2019-05-08 20:09:29,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
2019-05-08 20:09:41,460110413042577,2019-05-08 20:09:41,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
2019-05-08 20:10:14,460110425023300,2019-05-08 20:10:14,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
2019-05-08 20:10:40,460110714141865,2019-05-08 20:10:40,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
2019-05-08 20:08:55,460016692088409,2019-05-08 20:08:55,0,0,拒绝,FDD-LTE,LT-SZSC001,Normal Lau

In [152]:
one_week.imsi_.nunique()/one_week.shape[0] # 说明大部分id都是重复出现过的

0.31764713881636203

In [153]:
# 说明只有三个机器
one_week.device_id_.unique()

array(['DX-SZSC001', 'LT-SZSC001', 'YD-SZSC001'], dtype=object)

In [154]:
one_week.eventid_.unique()

array(['Normal Lau'], dtype=object)

In [155]:
one_week.imsi_.value_counts() # 有很多一个星期只出现过一次的

460110714141865    1732
460110413044304     581
460012480316441     515
460110700163772     479
460014946660039     457
                   ...
460002606630392       1
460002606768993       1
460022786534869       1
460075737808351       1
460028146282347       1
Name: imsi_, Length: 46717, dtype: int64

In [164]:
res = data1.groupby(['imsi_', 'update_time_',])['device_id_'].value_counts().unstack()

In [165]:
gc.collect()

117

In [163]:
data1.groupby(['imsi_', 'device_id_',])['update_time_'].value_counts()

imsi_            device_id_  update_time_
204043315383882  DX-SZSC001  2019-05-23 17:20:10    1
204043863737390  DX-SZSC001  2019-05-24 14:51:06    1
204046031010732  DX-SZSC001  2019-05-09 14:19:45    1
204047102616026  LT-SZSC001  2019-05-15 20:13:18    1
206012229081504  YD-SZSC001  2019-05-10 12:11:12    1
                                                   ..
525058231350753  YD-SZSC001  2019-05-10 13:44:48    1
                             2019-05-10 14:01:04    1
                             2019-05-10 14:16:48    1
                             2019-05-10 14:32:55    1
641101902316484  YD-SZSC001  2019-05-17 22:42:52    1
Name: update_time_, Length: 338796, dtype: int64

In [167]:
res.head()

device_id_                           DX-SZSC001  LT-SZSC001  YD-SZSC001
imsi_           update_time_
204043315383882 2019-05-23 17:20:10         1.0         NaN         NaN
204043863737390 2019-05-24 14:51:06         1.0         NaN         NaN
204046031010732 2019-05-09 14:19:45         1.0         NaN         NaN
204047102616026 2019-05-15 20:13:18         NaN         1.0         NaN
206012229081504 2019-05-10 12:11:12         NaN         NaN         1.0

In [168]:
res.shape

(338796, 3)

In [170]:
res.columns

Index(['DX-SZSC001', 'LT-SZSC001', 'YD-SZSC001'], dtype='object', name='device_id_')

In [174]:
res.index[0]

(204043315383882, '2019-05-23 17:20:10')

**可以发现res的columns只有三列。而index是元祖的形式**

In [177]:
res = res.fillna(0)

In [179]:
res

device_id_                           DX-SZSC001  LT-SZSC001  YD-SZSC001
imsi_           update_time_
204043315383882 2019-05-23 17:20:10         1.0         0.0         0.0
204043863737390 2019-05-24 14:51:06         1.0         0.0         0.0
204046031010732 2019-05-09 14:19:45         1.0         0.0         0.0
204047102616026 2019-05-15 20:13:18         0.0         1.0         0.0
206012229081504 2019-05-10 12:11:12         0.0         0.0         1.0
...                                         ...         ...         ...
525058231350753 2019-05-10 13:44:48         0.0         0.0         1.0
                2019-05-10 14:01:04         0.0         0.0         1.0
                2019-05-10 14:16:48         0.0         0.0         1.0
                2019-05-10 14:32:55         0.0         0.0         1.0
641101902316484 2019-05-17 22:42:52         0.0         0.0         1.0

[338796 rows x 3 columns]

In [180]:
help(pd.DataFrame.unstack)

Help on function unstack in module pandas.core.frame:

unstack(self, level=-1, fill_value=None)
    Pivot a level of the (necessarily hierarchical) index labels.

    Returns a DataFrame having a new level of column labels whose inner-most level
    consists of the pivoted index labels.

    If the index is not a MultiIndex, the output will be a Series
    (the analogue of stack when the columns are not a MultiIndex).

    Parameters
    ----------
    level : int, str, or list of these, default -1 (last level)
        Level(s) of index to unstack, can pass level name.
    fill_value : int, str or dict
        Replace NaN with this value if the unstack produces missing values.

    Returns
    -------
    Series or DataFrame

    See Also
    --------
    DataFrame.pivot : Pivot a table based on column values.
    DataFrame.stack : Pivot a level of the column labels (inverse operation
        from `unstack`).

    Examples
    --------
    >>> index = pd.MultiIndex.from_tuples([('one', 'a'), ('one', 'b'),
    ...                                    ('two', 'a'), ('two', 'b')])
    >>> s = pd.Series(np.arange(1.0, 5.0), index=index)
    >>> s
    one  a   1.0
         b   2.0
    two  a   3.0
         b   4.0
    dtype: float64

    >>> s.unstack(level=-1)
         a   b
    one  1.0  2.0
    two  3.0  4.0

    >>> s.unstack(level=0)
       one  two
    a  1.0   3.0
    b  2.0   4.0

    >>> df = s.unstack(level=0)
    >>> df.unstack()
    one  a  1.0
         b  2.0
    two  a  3.0
         b  4.0
    dtype: float64

In [188]:
def trace(data):
    data1.groupby(['imsi_', 'update_time_',])['device_id_'].value_counts().unstack(fill_vause=0)
    return data

In [189]:
data2.head()

,imsi_,update_time_,lac_,cellid_,status_,ap_type_,device_id_,eventid_
0,460110413044304,2019-05-08 20:09:29,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
1,460110413042577,2019-05-08 20:09:41,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
2,460110425023300,2019-05-08 20:10:14,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
3,460110714141865,2019-05-08 20:10:40,0,0,拒绝,FDD-LTE,DX-SZSC001,Normal Lau
4,460016692088409,2019-05-08 20:08:55,0,0,拒绝,FDD-LTE,LT-SZSC001,Normal Lau

# 新入网，新离网探索

NameError: name 'data1' is not defined